.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:#fff;
    height: 90vh;
}

.app__heading{
    text-align: center
}

.app__heading p{
    color:rgb(100, 100, 100)
}